env

__pycache__

data/raw/**/*.mat
data/raw/**/**/*.mat
data/raw/**/*.rar
data/raw/**/**/*.rar
data/raw/**/**/*.pdf

data/spectrograms/**/**/*.png

data/**/*.png
data/**/**/*.png

*.pth

*.drawio.svg

results/
logs/
